
body{
    background-color: #9EBF28;
    font-family: "playball", sans-serif;
    font-size: 1.5rem;
    text-align: center;
}
div {
    background-color: white;
    margin-left:10%;
    margin-bottom: 2%;
    border-radius: 1em; 
    
}
div.encabezado{ 
    height:10%;
    width:80%;
}
div.indice{
    float:left;
    height: 700px;
    width: 15%;
    margin-top: 0%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
div.contenido{ 
    height:700px;
    width: 64.5%;
    margin-left:25.5%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

img.comidaFeliz{
    background-color: black;
    float: left;
    width: 120px;
    height: 80px;
    border: #9EBF28 2px solid;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em ;
    margin: 8px;
    
}
h1{
    letter-spacing: 15px;
    color: #7D9F1B;  
    padding: 20px;
    text-shadow: 4px 4px 4px hsl(75, 23%, 64%);  
    font-family:Verdana,  sans-serif
 
}


section.indice{
    float: left;
    width:15%;
    font-family: 'Tangerine', serif; 
}
section.indice ul li {
    clear: both;
    width: 150px;

}

ul {
    list-style-type: none;
  }
  
ul li{
    
    border: #9EBF28 2px solid;
    border-color: #9EBF28 black black #9EBF28;
    margin: 1px ;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-left:1em;
    background-color: white;
    text-align: center;
}
  
ul li:hover{
    border: #9EBF28 2px solid;
    border-color: black #9EBF28 #9EBF28 black;
    background-color: lightgray;
}
a:link{
    text-decoration-line: none;
    color: #7D9F1B;
}
a:visited{
    text-decoration-line: none;
    color: #7D9F1B;
}
img.comidasana{
    margin: 20px;
}

section.contenidores{
    clear: both;
    width: 400px;
    height: 400px;
    font-size: 20px;
    margin-top: 50px;
    
}
section.formulario{
    position: relative;
    float: left;
    margin-left: 0%;
    display: flex;
    flex-direction:column ;
    margin-left:20px;
    margin-top: -120%;
    z-index:2;
    width: 600px;
    
}
article.formulario{
    margin-left:20px;
    display: flex;
    justify-content:space-between;
}  
section.loca {
    position: absolute;
    top: 40%;
    left: 65%;
    z-index: 2;
    text-align: center;
  }
article.ingredientes{
    display: flex;
    flex-wrap: nowrap;
}
aside.ingredientes{
    background-image: url("imagenes/Img1.png");
    width: 30%;
    font-family: 'Tangerine', serif;
    flex-direction: row;
    
}

h2{
    font-family: 'Pacifico', cursive;
    color: #7D9F1B;
    font-size: 20px;
    text-align: center;
    
}
img.ingrediente{
    display: inline;
    width: 75px;
    height: 75px;
    margin: 5px;
}
aside.nospreparamos p{
    font-size: 15px;
}    
aside.receta{
    position: relative;
    float: left;
    margin-top: -43%;
    margin-left: 0%;
    width: 37%;
    z-index:2;
    text-align: justify;
    padding:15px;
}
aside.video{
    position: relative;
    float: left;
    margin-top: -30%;
    margin-left:37%;
    z-index: 2;
    text-align: justify;
    padding:15px;
}
img.chef{
    margin-left: 20px;
    margin-top: 75px;
}
img.plato{
    width: 225px;
    height: 175px;
    margin: 10px;;
}
img.ramen{
    width: 250px;
    height: 200px;
    margin: 10px;;
}
dialog{
    
    position: absolute;
    z-index: 5;
}

footer{
    clear: both;
    
}